html, body{
    position: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("/img/fondo4.jpg");
    background-repeat: none;
    background-size: cover;
}
img{
    width: 12%;
    margin: 0 auto;
    position: center;
    margin-bottom: 20px;
}
input{
    color:rgb(158, 6, 6);
    background-color:white;
    border-color:black;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

button{
    background-color: rgb(193, 190, 190);
    border-color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    margin: 10px 0;
    text-align: center;

}
ul li{
    text-align: center;
    background-color: rgb(255, 255, 254);
    padding: 8px;
    position: relative;
    font-size: 20px;
    text-align: center;
}

