html, body{
    position: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 38, 107);

}

img{
    width: 12%;
    margin: 0 auto;
    position: center;
}
input{
    color:rgb(158, 6, 90);
    background-color:white;
    border-color:black;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color: rgb(246, 145, 236);
    color:  rgb(172, 38, 107);
    border-color: black;
    border-radius: 8px;
    padding: 8px;
    font-size: 19px;
    margin: 8px 0;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
ul li{
    text-align: center;
    background-color: rgb(255, 255, 254);
    padding: 8px;
    position: relative;
    font-size: 20px;
    text-align: center;
}

